<!-- Name -->
<h1>Details for <%= @dog.name %></h1>

<!-- ID -->
<p>
  <strong>ID:</strong> <%= @dog.id %>
</p>

<!-- Breed -->
<p>
  <strong>Breed:</strong> <%= @dog.breed %>
</p>

<!-- Age -->
<p>
  <strong>Age:</strong> <%= @dog.age %>
</p>

<!-- Owner -->
<p>
  <strong>Owner:</strong> <%= @dog.owner %>
</p>

<!-- Date Added -->
<p>
  <strong>Date Added:</strong> <%= @dog.created_at.stamp('02/05/2017') %>
</p>

<%= link_to "See all the doggies", dogs_path %>